<div>
    <h4 class="put_margin_not_auto">Payment Managment</h4>
</div>
<div flex fxLayout="row"  fxLayoutAlign="space-around center" class="put_border put_margin_not_auto">
    <div >
        <button routerLink='/main/employee/payment_cards_manegment' routerLinkActive='active' mat-button
    class="btn btn-primary put_margin">Payment Cards</button>
    </div>
    <div >
        <button routerLink='/main/employee/payment_card_patches_manegment' routerLinkActive='active' mat-button
    class="btn btn-primary put_margin">Payment Card Patches</button>
    </div>
    <div >
        <button routerLink='/main/employee/mail_discounts_manegment' routerLinkActive='active' mat-button
    class="btn btn-primary put_margin">Mail Discounts</button>
    </div>
    <div >
        <button routerLink='/main/employee/discounts_manegment' routerLinkActive='active' mat-button
    class="btn btn-primary put_margin">Discounts</button>
    </div>
    <div >
        <button routerLink='/main/employee/point_prices_manegment' routerLinkActive='active' mat-button
    class="btn btn-primary put_margin">Point Prices</button>
    </div>
</div>
<div flex fxLayoutAlign="end center">
<button routerLink='/main/employee/home' routerLinkActive='active' mat-button
    class="btn btn-secondary put_margin_not_auto">Back</button>
</div>