<div flex fxLayout="row" fxLayoutAlign="space-around" class="big_Container">
    <div flex fxLayout="row" fxFlex="19" fxLayoutAlign="center start">
        <select [(ngModel)]="Copmany_status" class="Drop_Down_List">
            <option *ngFor="let item of companies_statuses" value="{{item.company_Status_Id}}">
                {{item.company_Status_Name}}</option>
        </select>
    </div>
    <div flex fxLayout="row" fxFlex="15" fxLayoutAlign="center start">
        <button class="btn btn-primary" (click)="load_all_users()">Load Companies</button>
    </div>
    <div flex fxLayout="row" fxFlex="45" fxLayoutAlign="start center" class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey_database" placeholder="Search" autocomplete="off">
            <button mat-button matSuffix mat-icon-button arial-label="Clear" *ngIf="searchKey_database"
                (click)="search_users()" class="search_icon">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button arial-label="Clear" *ngIf="searchKey_database"
                (click)="onSearchClear_database()" class="clear_icon">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div flex fxLayout="row" fxFlex="5" fxLayoutAlign="start center" class="search-div">
        <mat-checkbox [(ngModel)]="is_exact">Exact</mat-checkbox>
    </div>
</div>
<br />
<div class="big_Container mat-elevation-z8" flex fxLayout="row" fxLayoutAlign="space-around">
    <div flex fxFlex="88">
        <table mat-table [dataSource]="listData" matSort>
            <ng-container matColumnDef="company_Id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>company Id</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.company_Id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="company_Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>company Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.company_Name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="company_Name_Arabic">
                <mat-header-cell *matHeaderCellDef mat-sort-header>company Name Arabic</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.company_Name_Arabic}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="company_Status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>company Status</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.company_Status}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="company_owner_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Owner</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.company_owner_name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <mat-form-field class="search-form-field" floatLabel="never">
                        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off"
                            (keyup)="applyFilter()">
                        <button mat-button matSuffix mat-icon-button arial-label="Clear" *ngIf="searchKey"
                            (click)="onSearchClear()" class="clear_icon">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)" class="edit_button">
                        <mat-icon class="edit_icon">launch</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">loading data..</mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">No Data.</mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="not_loaded">
                <mat-footer-cell *matFooterCellDef colspan="6">Load Users or Company or Employees</mat-footer-cell>
            </ng-container>

            <!-- template -->
            <mat-header-row *matHeaderRowDef="displayedcolumns"></mat-header-row>
            <mat-row *matRowDef="let row;columns:displayedcolumns"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{hide:!(listData == null && try_load == true)}">
            </mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{hide:!(listData!=null && listData.data.length==0)}">
            </mat-footer-row>
            <mat-footer-row *matFooterRowDef="['not_loaded']" [ngClass]="{hide:try_load == true}"></mat-footer-row>

            <!-- template -->
        </table>
        <mat-paginator [pageSizeOptions]="[10,25,50]" [pageSize]="10"></mat-paginator>
    </div>
    <div flex fxFlex="10">
        <label class="General_label">Loaded Users:</label>
        <label>{{users_loaded_count}}</label>
        <div class="normal_link block_div"><a
                [class.disabled_link]="!try_load || users_total_count == users_loaded_count" class="animated_link"
                (click)="load_more()">Load 10 More</a></div>
        <br /><br />
        <label class="General_label">Total Records:</label>
        <label>{{users_total_count}}</label>
        <div class="normal_link block_div"><a
                [class.disabled_link]="!try_load || users_total_count == users_loaded_count" class="animated_link"
                (click)="load_100_more()">Load 100 More</a></div>
    </div>
</div>
<br />
<div flex fxLayout="row" fxLayoutAlign="start start" class="big_Container">
    <div>
        <button class="btn btn-primary" routerLink='/main/employee/create_company' routerLinkActive='active'>Create
            Company</button>
    </div>

</div>
<div flex fxLayout="row" fxLayoutAlign="start start" class="big_Container">
    <p>Search Companies by Id, Company Name, Company Name Arabic, Company Owner First Name</p>
</div>