<div class="container" flex fxLayout="column">
    <H2>Company Members and privileges</H2>
    <form [formGroup]="service.FG_Company_Label" class="Medium_Container">
        <div class="put_border put_padding put_margin">
            <H4 class="text_align_center">Company Basic Data</H4>
            <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none"
                class="required">
                <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                    fxLayoutAlign.lt-sm="start center">Company Id</label>
                <mat-form-field fxFlex="65" fxLayoutAlign="start start" appearance="outline" color="accent"
                    floatLabel="always">
                    <input matInput formControlName="$Company_Id">
                </mat-form-field>
            </div>
            <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none"
                class="required">
                <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                    fxLayoutAlign.lt-sm="start center">Company Name</label>
                <mat-form-field fxFlex="65" fxLayoutAlign="start start" appearance="outline" color="accent"
                    floatLabel="always">
                    <input matInput formControlName="Company_Name">
                </mat-form-field>
            </div>
            <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none"
                class="required">
                <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                    fxLayoutAlign.lt-sm="start center">Copmany Name Arabic</label>
                <mat-form-field fxFlex="65" fxLayoutAlign="start start" appearance="outline" color="accent"
                    floatLabel="always">
                    <input matInput formControlName="Company_Name_Arabic">
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="Medium_Container">
        <div class="put_border put_padding put_margin">
            <H4 class="text_align_center">Member company/branch relationship</H4>
            <form [formGroup]="service.FG_User_Related_Branch" class="Medium_Container">

                <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none"
                    class="required">
                    <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-sm="start center">Select a Company Member</label>
                    <div fxFlex="65" fxLayoutAlign="start center">
                        <mat-form-field fxFlex="65" fxLayoutAlign="start start" appearance="outline" color="accent"
                            floatLabel="always" (click)="openUserDetails(service.FG_User_Related_Branch)">
                            <mat-select formControlName="User_Related_Branch_Related_User" disabled>
                                <mat-option [value]="owner.id" *ngFor="let owner of owners">{{owner.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="service.FG_User_Related_Branch.controls['User_Related_Branch_Related_User'].errors">
                                Please Select Company Owner</mat-error>
                        </mat-form-field>
                        <button fxFlex="10" mat-icon-button (click)="openUserDialog()" class="edit_button">
                            <mat-icon class="clear_icon">search</mat-icon>
                        </button>
                    </div>
                </div>

                <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none"
                    class="required">
                    <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-sm="start center">Add member to all branches</label>
                    <mat-checkbox fxFlex="65" fxLayoutAlign="start center" class="check_box_style"
                        (click)="change_select_all_branches()">
                    </mat-checkbox>
                </div>

                <div flex fxLayout="row" *ngIf="!select_all_branches" fxLayout.lt-sm="column"
                    fxLayoutAlign="space-around" appearance="none" class="required">
                    <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-sm="start center">Company Branch</label>
                    <mat-form-field fxFlex="65" fxLayoutAlign="start start" appearance="outline" color="accent"
                        floatLabel="always">
                        <mat-select formControlName="User_Related_Branch_Related_Branch"
                            placeholder="Please select a Branch">
                            <mat-option [value]="Branch.branch_ID" *ngFor="let Branch of Branches">
                                {{Branch.branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none"
                    class="required">
                    <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-sm="start center">Has Company Manager Privilege</label>
                    <mat-checkbox fxFlex="65" fxLayoutAlign="start center"
                        formControlName="User_Related_Branch_Is_Company_Manager" class="check_box_style"></mat-checkbox>
                </div>
                <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none"
                    class="required">
                    <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-sm="start center">Can user add Members to the company</label>
                    <mat-checkbox fxFlex="65" fxLayoutAlign="start center"
                        formControlName="User_Related_Branch_Can_add_company_users" class="check_box_style">
                    </mat-checkbox>
                </div>
                <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none">
                    <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-sm="start center">Member public Id</label>
                    <mat-form-field fxFlex="65" fxLayoutAlign="start start" appearance="outline" color="accent"
                        floatLabel="always">
                        <input matInput formControlName="User_Related_Branch_Employee_Id">
                        <mat-error
                            *ngIf="service.FG_User_Related_Branch.controls['User_Related_Branch_Employee_Id'].errors?.maxlength">
                            Maximum length is 25character</mat-error>
                    </mat-form-field>
                </div>
                <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none"
                    class="required">
                    <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-sm="start center">Is Membership approved by web admin</label>
                    <mat-checkbox fxFlex="65" fxLayoutAlign="start center"
                        formControlName="User_Related_Branch_Is_Valid" class="check_box_style"></mat-checkbox>
                </div>
                <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around" appearance="none">
                    <label class="General_label" fxFlex="30" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-sm="start center">Web Admin comment</label>
                    <mat-form-field fxFlex="65" fxLayoutAlign="start start" appearance="outline" color="accent"
                        floatLabel="always">
                        <input matInput formControlName="User_Related_Branch_Web_Admin_Comment">
                        <mat-error
                            *ngIf="service.FG_User_Related_Branch.controls['User_Related_Branch_Web_Admin_Comment'].errors?.maxlength">
                            Maximum length is 300character</mat-error>
                    </mat-form-field>
                </div>
                <div flex fxLayout="row" fxLayoutAlign="space-between" class="put_padding Medium_Container">
                    <button class="btn btn-primary" (click)="add_user_to_branch(service.FG_User_Related_Branch)">Add
                        Branch</button>
                    <button class="btn btn-secondary" routerLink="{{'/main/employee/company_users/' + Company_Id}}"
                        routerLinkActive='active'>Back</button>
                </div>
            </form>
        </div>
    </div>
</div>